[2015-05-30 05:37] komu opened #1 "Add support for specifying black-box translation for classes"
For some data-types we don't wish to expose the internals. Allow this to be specified using annotations, plugin configuration or some other mechanism.

[2015-05-30 05:38] komu opened #2 "Stricter typing in runtime.ts"
Improve `runtime.ts` so that it compiles with `noImplicitAny`-flag.

[2015-05-30 05:39] komu opened #3 "Expose API for overriding serializers"
There's a clear mechanism for overriding serializers already implemented, but no API for registering custom serializers. Improve `runtime.ts` to expose an API.

[2015-05-30 05:40] komu opened #4 "Support ignoring endpoints"
Currently all endpoints are processed although it might make sense to ignore some. Add a mechanism (annotation? plugin configuration?) for ignoring endpoints.

[2015-05-30 05:45] komu opened #5 "Fix project files to not complain about runtime.ts"
`runtime.ts` is valid code and when the generated code is imported to a project there are no errors. However, currently when editing `runtime.ts` in `apina-core` itself, IDEA colors it as full of errors because it does not know how to resolve the dependencies. Fix this.

[2015-06-04 06:39] komu opened #6 "Ignore extra fields when constructing request body"
If the data type has some extra fields, don't try to send them to server.

(Make sure not to do this for black-box types, however.)

[2015-06-04 12:46] komu opened #7 "Create optional angular-module that exposes all endpoints as services"
Including `apina.api`-module will expose a single `endpointGroups`-object in AngularJS context. It would be useful to have an optional module (say `apina.api.endpoints`), which would expose all endpoints directly as services. This would enable user code to directly inject the needed endpoints.

[2015-06-04 12:49] komu opened #8 "Split Spring and Jackson code from each other"
Currently support for Spring and Jackson is more or less interleaved. Separate them properly and make it possible to plug in alternative implementations for endpoint-extractors and data-type parsers.

[2015-06-04 12:51] komu opened #9 "Implement translation for dictionary types"
Maps are translated to dictionaries in model-types, but proper TypeScript code is not generated for those.

[2015-06-05 10:04] #6 closed, assigned to nobody

[2015-06-05 13:51] #3 closed, assigned to nobody

[2015-06-06 06:20] #7 closed, assigned to nobody

[2015-06-06 19:18] #2 closed, assigned to nobody

[2015-06-07 11:35] komu opened #10 "Create initializers for data-types based on Java initializers"
If original Java-code has initializer for property, include it in generated code if possible.

[2015-06-08 12:14] #1 closed, assigned to nobody

[2015-06-08 20:35] #9 closed, assigned to nobody

[2015-06-10 06:37] komu opened #11 "Use black-box translation for types with @JsonValue"
If a type has `@JsonValue` annotation in one of its methods, we should translate the type as black box since we can't analyze it further.

[2015-06-10 06:46] komu opened #12 "Add hook for arbitrary post-processing of model before TS-generation"
Sometimes it's simplest to let custom code make arbitrary modifications to the model if there are some custom mappings etc. It could be useful to let the gradle-plugin just take a callback which could make modifications to the model before it's written out.

[2015-06-10 06:55] komu opened #13 "Support configuring base-url for API"
Add runtime setting for configuring the base URL of the calls Apina makes.

[2015-06-10 06:57] komu opened #14 "Fix parsing URL-templates with '}' inside variable"
'For example the template `/{id:[0-9a-zA-Z]{16}}` is not parsed correctly, because first '}' is recognized as end marker of the variable.

[2015-06-10 07:47] #14 closed, assigned to nobody

[2015-07-01 10:29] evident-doom opened #15 "Support for Optional<T>"
Support translating `Optional<T>`, `OptionalInt`, `OptionalLong` and `OptionalDouble` into their correct TypeScript equivalents. Basically `typescriptType(Optional<T>) == typescriptType(T)` whereas the other optional types should be translated to `number`.

[2015-07-01 13:14] groie commented on #15
:+1: Rykiminen kannattaa

[2015-07-04 20:48] #15 closed, assigned to nobody

[2015-08-13 19:33] komu opened #16 "Support Jackson's @JsonUnwrapped"
See https://fasterxml.github.io/jackson-annotations/javadoc/2.2.0/com/fasterxml/jackson/annotation/JsonUnwrapped.html

[2015-08-14 08:09] #13 closed, assigned to komu

[2015-08-14 08:41] #11 closed, assigned to nobody

[2015-08-20 15:14] hakuzumon opened #17 "Fail on missing compilerArgs: -parameters"
Apina produces invalid endpoint functions (all pathvariables are "?" instead of the real name) when

[code]

is not included in the Gradle build file.

Apina could give an error and suggest a fix.

[2015-08-20 19:22] hakuzumon opened #18 "Simple enum support"
Support converting Java enums without properties to TypeScript Enums.

[2015-08-26 07:21] hakuzumon opened #19 "Fail on duplicate Java class names"
If multiple Java classes have the same name, only the last processed one will get a TypeScript type.

This can happen if classes of the same name exist in different packages, or as inner classes. In case of inner classes, a prefixing with the parent class's name might be appropriate.

[2015-08-26 07:48] #19 closed, assigned to komu

[2015-09-08 12:15] egaga opened #20 "Expose angular module name"
in the generated api file:

var apinaModule = angular.module('apina.api', []);

The module or its name should be exposed so that one can depend on it with static verification.
e.g. import api = require('api-definitions/api');
Should hold: 'apina.api' === api.Support.Angular.apinaModule

Similarly for 'apina.endpoints'

[2015-09-08 12:20] egaga opened #21 "Support Typescript 1.4"
The generated api file uses a `const´ exactly once. For this only, the Apina disgards support for 1.4 or lower versions of Typescript when using ES5 target generation.

The 1.4 version of Typescript should be fully supported.

[2015-09-23 10:36] egaga opened #22 "Support ignoring fields"
Remove fields with `com.fasterxml.jackson.annotation.JsonIgnore` annotation.

[code]

The resulting generated object should not have `bar2: int` field.

[2015-09-23 10:41] egaga opened #23 "Class with inherited fields are missing from generation"
[code]

If class B is used in api response type, the generated file does not contain field foo from class A.
Namely, inherited fields do not appear anywhere.

There should be configuration option how inheritance hierarchy is transferred to target code, e.g. by flattening the class hierarchy, or having corresponding hierarchy in target language.

[2015-09-23 11:22] egaga commented on #22
Works as expected. Actually in my case there was public field foo and getFoo. Both needs to be annotated with `@JsonIgnore`

[2015-09-23 11:22] #22 closed, assigned to nobody

[2015-09-23 14:03] egaga opened #24 "Support configuring context for the uriTemplate"
Apina should have configuration option to set context for the uriTemplate.

Currently the Spring support module reads the type level RequestMapping in a way that having a `@RequestMapping` with a value a) `"/api/foobar"` and b) `"api/foobar"` makes a difference
for the generated uriTemplate: a) `'/api/foobar'` and b) `'api/foobar'`

The current behavior is unfortunate because now Spring controller

[2015-09-23 15:26] komu commented on #24
Is this different from the issue #13?

[2015-09-23 15:29] komu commented on #22
How does Jackson behave in this case? If Jackson is OK with only one `@JsonIgnore`, we should follow suit.

[2015-09-23 15:34] komu commented on #23
Yes, this needs to be implemented.

I'm not sure about the option though: I think it's better to do some hard thinking about which option would be best and then implement only that. If someone really needs the other option later on, it can always be added later on, but I believe at the start it's better to limit the API surface, lest we paint ourselves in a corner. If we can make it "just work" wi

[2015-09-24 06:23] egaga commented on #24
That's exactly it. My bad, skimmed too fast the issue headlines.

[2015-09-25 08:36] egaga opened #25 "Omit parameters from the method generation that are injected by the server automatically"
The generated method for `void foo(int x, @CurrentUser user) {}` should be `foo(int x) {}` when arguments for @CurrentUser are defined to be resolved automatically by the server functionality, e.g. implementations of `org.springframework.web.method.support.HandlerMethodArgumentResolver`

Both annotations and types should be supported as markers that the argument is resolved automatically.
So that

[2015-09-25 08:53] komu commented on #25
By "fields", you mean "parameters", right?

Anyway, I'm pretty sure you're describing something that has always worked. Unless a parameter is annotated by `@RequestBody`, `@RequestParam` or `@PathVariable`, it is assumed that it's something that has custom resolver. (We wouldn't know what to do with them anyway.)

We could process `@RequestHeader` -annotations similarly, but I figured that those a

[2015-09-25 09:07] #24 closed, assigned to nobody

[2015-09-25 10:18] egaga commented on #25
Right, parameters, not fields.

Great to hear it works out-of-the-box.

[2015-09-25 10:18] #25 closed, assigned to nobody

[2015-10-01 07:02] komu opened #26 "Support @JsonIgnore(false)"
`@JsonIgnore` can be used to ignore properties, but once we support inheritance, we should also allow using `@JsonIgnore(false)` to allow overriding ignores defined on super-classes.

[2015-10-22 19:20] #23 closed, assigned to nobody

[2015-10-27 11:47] komu opened #27 "Support type parameters in inheritance"
For example:

[code]

The type of `Bar.field` should be resolved to `String`.

[2015-10-28 13:10] #18 closed, assigned to nobody

[2015-11-05 19:02] komu opened #28 "Support @RequestParam(name=...)"
Spring 4.2 provides `name` as an alias for `value` in [RequestParam](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/bind/annotation/RequestParam.html) annotation. Support that.

Consider implementing this by supporting Spring's [@AliasFor](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/core/annotation/AliasFor.html) for all annotations in

[2015-11-26 07:16] terohe opened #29 "Fail compilation if cannot resolve parameter name?"
Currently Apina uses TS variable name "?" for Java arguments it cannot resolve name for.

Maybe it would be better to terminate the Apina generation in such case since "?" makes TS invalid.

https://github.com/EvidentSolutions/apina/blob/master/apina-core/src/main/java/fi/evident/apina/spring/SpringModelReader.java#L81

Invalid Typescript produced by Apina:

[code]

[2015-11-26 07:20] komu commented on #29
Yes, it would be better to fail with a good error message. There's already issue #17 about this, so I'm closing this as duplicate.

I also considered about the plugin automatically adding `-parameters` to `compileJava.options.compilerArgs`, but I guess that's too much magic. Better just to give a good error message that tells the solution.

[2015-11-26 07:20] #29 closed, assigned to nobody

[2015-11-26 07:21] terohe commented on #29
Ah.. missed that one. Sorry for that.

[2015-11-26 07:22] komu commented on #29
No problem. :)

[2015-11-26 20:02] #27 closed, assigned to nobody

[2015-11-26 20:36] #17 closed, assigned to nobody

[2015-11-26 20:56] komu commented on #21
I understand the sentiment and I could make the small change to fix this, but I don't want to test against old TS-versions in future when making other changes.

I don't believe there's anyone out there using TS 1.4 and Apina. (If this really is a problem for someone, then I can certainly reconsider.)

[2015-11-26 20:56] #21 closed, assigned to nobody

[2015-11-26 21:06] #26 closed, assigned to nobody

[2015-11-27 10:30] komu commented on #20
I'm not too keen on this: this seems to enlarge the API surface (and therefore the amount of documentation one needs to read) for little or no benefit.

If the module would be something that you'd use again and again in your program, I'd agree that a constant would be necessary. But in reality, you only have to specify it once and I find it hard to believe that  a constant would catch any actual b

[2015-11-27 10:30] #20 closed, assigned to nobody

[2015-11-27 10:50] #28 closed, assigned to nobody

[2016-11-16 13:40] ruoat opened #30 "Support Spring 4.3 @GetMapping, @PostMapping etc."
Currently Apina handles only @RequestMapping but it would be nice if @GetMapping could be used. http://www.logicbig.com/tutorials/spring-framework/spring-web-mvc/request-mapping-variants/

[2016-11-17 07:49] komu commented on #30
Heh, just committed cba521c31c951c508641f2409b72a7383206af69 a couple of days ago with the intention of supporting this.

I won't add specific support for `@GetMapping` etc. but aim to support the Spring's meta-annotation mechanism along with `@AliasFor`, so you should be able to pluck in your own annotations as well.

Can't promise a schedule right now, but it's on my radar.

[2017-01-01 21:19] #30 closed, assigned to komu

[2017-01-01 21:21] komu commented on #30
Just released `0.6.0` with these changes.

[2017-01-01 21:42] komu commented on #30
A word of warning, it seems that `@PostMapping(path = "/path")` works correctly, but `@PostMapping("/path")` does not. Support for implicit alias groups (multiple different aliases point to super-class aliases) seems to be lacking still.

[2017-01-13 12:39] terohe commented on #18
Question: Does this feature require the backend to use Java enum (de)serialization as ordinals (instead of enum name)? `SerializationFeature.WRITE_ENUMS_USING_INDEX` and not `SerializationFeature.WRITE_ENUMS_USING_TO_STRING`?

At first sight does not seem to work with String enum values. Or am I missing something? :)

[2017-01-13 12:52] komu commented on #18
No, you should be using strings on the wire. How are you representing enums in TypeScript-code?

Are you aware that TypeScript internally requires enums to be represented as numbers instead of strings? Apina's serialization then converts the internal number representation to String using code like `MyEnum[originalValue]`, which maps it to corresponding number. The catch is that `MyEnum[originalVal

[2017-01-13 13:13] terohe commented on #18
Ach so! Thanks for the really quick and thorough reply! The data-bound strings in HTML and such seem to cause the confusion indeed (string -> number). Just started to get the hang of it when you replied.

And thanks for the tip! We'll consider using the string unions instead of enums. However, that would mean duplicating the enums (bummer).

[2017-01-13 13:16] komu commented on #18
I'll try to add the option for automatically generating String-based enums soon.

[2017-01-13 21:57] komu commented on #18
Just pushed 72b3d3fe5d9d8083d6e02b993878c589d97442c9 to implement this feature. I'll make a new release after a bit of testing and documentation.

[2017-01-16 21:36] komu commented on #18
I improved [README.md](https://github.com/EvidentSolutions/apina/blob/master/README.md) and released `0.7.0` with this feature.

[2017-01-18 07:22] samiojanpaa opened #31 "Can't upgrade from 0.3.2 to 0.4.1 or later due to "unbound type variable: T""
`FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':citizen-web-api:apina'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':citizen-web-api:apina'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteAction

[2017-01-18 21:15] komu commented on #31
I have some code that will probably fix this already sitting in a branch, but I'd like to be sure that I understand your specific problem fully. So could you provide a minimal test-case that reproduces the problem? Delete controllers, methods and Jackson classes until only a couple of classes remain. I'm pretty sure that the problem can be reproduced in 10 lines of code.

[2017-01-20 10:11] samiojanpaa commented on #31
Controller that causes the problem:

[code]

Should apina be able to handle that?

[2017-01-20 11:10] komu commented on #31
Yeah, seems legit. I'll look into that. Thanks!

[2017-01-20 11:29] komu commented on #31
Actually I can't reproduce your exception using Apina 0.7.0.

What version are you running? You mention "0.4.1 or later" and based on stacktrace it's quite clear that at least it's not 0.7.0. So is it 0.4.1? Please test against 0.7.0, you'll need to specify `framework = 'angular1'`, but otherwise things should be compatible.

There's a problem though. Apina does not have special handling for `Resp

[2017-01-20 11:54] komu commented on #31
I just released [0.7.1](https://github.com/EvidentSolutions/apina/releases/tag/v0.7.1) that works with your test case and produces correct code for it.

I'll close this now, if you still have problems on 0.7.1, reopen or file a new issue.

[2017-01-20 11:54] #31 closed, assigned to komu

[2017-01-25 07:05] #5 closed, assigned to nobody

[2017-01-25 07:05] #8 closed, assigned to nobody

[2017-02-08 08:38] mxab opened #32 "pojo request param mapping"
Hi,

currently only annotated parameters with `RequestParam/RequestBody/PathVar` are taken into account.

In my usecase I have a request param pojo

[code]

and a RestController like this:

[code]

As I know you cannot simply use every param in the method signature, maybe allow to list the request param pojos in the build script

[code]

[2017-02-09 06:28] komu commented on #32
Hi!

Does your example actually work with Spring if you make a manual request without Apina? Apina does absolutely nothing on the server side, it simply figures out what Spring and Jackson are doing and generates client code based on that.

That said, you are not supposed to annotate your data classes, but the request method. So your example would become:

[code]

Hope this helps. You can consult

[2017-02-09 06:46] mxab commented on #32
Yes my request usually works, if there is no RequestParam annotation spring tries to map the query parameters to the pojo.

if you add the RequestParam annotation it expects a request param called "query" in the request which is not available

[2017-02-10 14:00] komu commented on #32
Ah, of course you're right and I've used that over and over again when binding forms. Somehow I failed to think of that because of different context.

This would, indeed, require some additional configuration to figure out which classes should be processed this way. Either in the build-file or using some Apina-specific annotations. (I've considered adding an optional annotation library for customi

[2017-03-18 17:07] kpirkkal opened #33 "Using javaslang library List as return type in controller causes StackOverflowError"
Javaslang library List as return type in controller causes apina to throw StackOverflowError.

Example of controller method causing error:

[code]

Stacktrace:

[code]

Test to reproduce error

https://github.com/kpirkkal/apina/commit/ad27d827432c46224913c83f4bba4ab28802e265

[2017-03-18 20:58] #33 closed, assigned to komu

[2017-03-18 21:20] komu commented on #33
Released `0.7.2` with this fix.

[2017-05-31 09:34] egaga opened #34 "Invalid endpoint generation for optional request parameter"
Generation for a request parameter `@RequestParam(name = "foobar", required = false) @Nullable String foobar` is incorrect.  The resulting implementation makes a http request with `null` string value for query parameter `foobar`, and thus the backend correctly thinks it was sent `"null"` String.

Instead, the query parameter should be wholly omitted from the http request.

I intend to make a pull

[2017-06-01 17:33] egaga opened #35 "Support setting http headers, both global and request-specific"
Apina endpoints don't allow specifying http headers.
This should be possible, either by setting a http header for all future request, or each specific request.

The motivation here is that http headers are often used to pass information that is handled in the backend by some global handler (perhaps by filter or interceptor) unknowst to the specific request handler. Good example would be a http aut

[2017-06-02 11:59] egaga opened #36 "Remove AngularJS dependency"
Simplify the codebase by removing the code generation dependency to the AngularJS.

Projects that use AngularJs can still use the existing releases.

(This is slightly opinionated decision but new projects should embrace Angular.)

[2017-06-29 10:41] komu opened #37 "Add support for string enums"
TypeScript 2.4 added support for string based enums. Support using those for translation enums.

[2017-06-29 13:20] #36 closed, assigned to komu

[2017-07-02 19:49] #34 closed, assigned to egaga

[2017-07-11 10:35] mkel opened #38 "Missing serializer for type ‘Dictionary<string>’ when translating Map<String, String>"
Member  of type Map<String, String> translates to Dictionary<string>, but at runtime it raises an Error: could not find serializer for type ‘Dictionary<string>’. Should Apina automatically generate `config.registerIdentitySerializer('Dictionary<string>');` for it?

[2017-07-11 19:33] komu commented on #38
It should certainly be automatically supported out-of-the-box, but `config.registerIdentitySerializer('Dictionary<string>')` is not the way to go. Rather Apina should register a special dictionary serializer that would use string serializer for keys and the serializer registered for type parameter for values.

So if you have `Dictionary<Foo>` and you have registered a serializer for `Foo`, it shou

[2017-09-11 12:48] egaga opened #39 "Provide apina runtime via npm"
Currently generic runtime is included in the same file as project specific generated type definitions.
Instead Apina runtime should be a _npm_ dependency.

The user of Apina just includes the Apina runtime dependency.

[2018-02-08 07:25] #37 closed, assigned to komu

[2018-03-09 12:05] mohamnag opened #40 "API call's error/exception handling"
I just discovered this lib and it seems very promising, however I could not figure out one piece by looking at the code. That is, I don't get how error responses are handled or handed over to the client.

In my case, the API returns a serialized runtime exception object as JSON in response body when an exception happens in response to a request. The HTTP status code reflects the state of error too

[2018-03-09 13:01] komu commented on #40
Hi, thanks for your feedback!

You're right, there's no special support at the moment. You can of course call `catchError` on the returned `Observable` or pass error-handler to `subscribe`, but all you get back is the error as returned by Angular's `HttpClient`.

I've had some thoughts about a higher-level API, but I'm not ready to commit to any particular plan yet. At the moment, I've had a separ

[2018-03-09 13:04] komu commented on #40
It seems that at the very least Apina could provide two things:

1. Allow registering some Java-types as needing serialization support even though they are not needed in request/response bodies. So that Apina generates TypeScript types for your exceptions.
2. Allow easy programmatic access to Apina's serialization mechanism so that you can ask to transform the JSON-response into corresponding clas

[2018-03-12 07:56] mohamnag commented on #40
I also took a look at other, more generic libs which provide Java to TS translation solutions and got following idea:
1. first of all, as you mentioned, provide a way to include specific classes not used in request/response process to be TS translated. Maybe by setting additional Java package(s)/class name(s)
1. either provide access to apina's (de)serializer or even better adopt type identificati

[2018-03-12 07:58] mohamnag commented on #40
the type identification part could be an optional thing turned on or off during generation. or even better configured (name of key, type of its content and so on) by settings.

[2018-03-12 08:09] mohamnag commented on #35
I'm not sure how else is Apina supposed to support header based authentication systems like OAuth & co but in my case where two headers are sent to server for authentication for each request, such feature is definitely necessary.

[2018-03-12 09:06] komu commented on #35
At some point, I might provide a higher level functionality, but currently you have two options:

1. Implement Angular's `HttpInterceptor`. See for example [this article](https://medium.com/@ryanchenkie_40935/angular-authentication-using-the-http-client-and-http-interceptors-2f9d1540eb8). Apina should pick up the interceptor since it delegates all requests to Angular's `HttpClient`.
2. Implement y

[2018-03-12 09:15] mohamnag commented on #35
The interceptor seems good enough.

I'm thinking maybe a more detailed documentation will help angular non-profi, Java devs like me feel better using Apina. If you are ok with that, I can prepare a github page based one.

[2018-03-12 09:23] komu commented on #40
If Apina would provide a manual API serialiation-api, you could implement second option as easily as you could configure it. Say that you know that every response has an `errorCode` key. You could then say something like:

[code]

Now the actual configuration (`errorCodeMappings`) would be as straightforward as specifying it in another place, but the advantage would be that this would be a lot mor

[2018-03-12 09:29] komu commented on #35
Yeah, more detailed documentation is certainly needed. I've already implemented technical pipeline for building and deploying documentation (see [my other project's reference documentation](http://dalesbred.org/docs/reference/)), it's mostly just the matter of actually finding the time to write the text itself.

So if you'd like to contribute some text for the documentation that would be great. Bu

[2018-03-13 13:15] mohamnag commented on #40
So I will go for class translation first as thats more important to me. I'm actually considering Apina over other solutions as it does not force changes on my backend code like annotations and co. Its just a build step addon that translates what is done and contains all its config in build settings. This was an important criteria for me, otherwise there are libraries that do the Java to TS transla

[2018-03-13 13:27] mohamnag commented on #35
ok, then when you have all setup for docs, I will contribute by asking and maybe later if you have it online by checking and reporting errors ;)

[2018-04-18 06:53] stiofand commented on #35
Im facing a similar need here. I wish to use the HttpInterceptors myself. However, these only respond to Angular's HttpClient Module not the old Http. Our Apina context class appears to use the old Http for requests. I am at a loss as to how to update our configuration to use the new Modules.

I can see you suggest overriding the Context class with a custom, but how would this class then used exte

[2018-04-18 09:53] komu commented on #35
Hi Stephen,

Are you using the latest version (`0.10.5`) of Apina? It should only support `HttpClient` and does not support `Http` at all.

When you refer to _"our Apina context class"_, do you mean the context class generated by Apina or do you have a custom implementation? If it's generated by Apina, then regenerating with a the latest version should be enough. If you have a custom implementatio

[2018-05-18 09:20] clamothe commented on #11
Could the return type of the `@JsonValue` method be used in place of the type? Or a typealias

[2018-05-18 10:29] komu opened #41 "Improve translation of @JsonValue types"
Instead of translating as black-box, use generate a type alias to the concrete typed returned by `@JsonValue`-method as suggested in https://github.com/EvidentSolutions/apina/issues/11#issuecomment-390148671.

[2018-05-18 10:29] komu commented on #11
Good idea! Added issue #41.

[2018-05-22 15:24] mohamnag opened #42 "Support polymorphism in translated classes"
I have a REST controller which returns following resource as return value:
[code]
the `SuperType` is a class as follows with two subclasses:
[code]
the reason that I have such structure is that, it is very important to have both types on same list on returned resource and sharing parts of structure is just a side effect.
the problem is Apina ignores the subclasses and just translates the super cla

[2018-05-22 18:13] komu commented on #42
No, there's no way to do that currently. Sounds like a good idea, though.

Between all other things, I'm afraid that I can't find time to implement this in the near future, but I'd be happy to accept a PR.

[2018-05-23 06:56] mohamnag commented on #42
yeah fair enough, I have to see what can I do. I think that best strategy would be to support some thing like the jackson's `@JsonTypeInfo` otherwise deserialization on client side would still be impossible given only the type of superclass. There I have to see what can I do on the typescript side. Will maybe come back with some suggestions and questions.

[2018-05-23 06:57] mohamnag commented on #42
just for reference: https://github.com/FasterXML/jackson-docs/wiki/JacksonPolymorphicDeserialization

[2018-05-23 07:21] komu commented on #42
Yeah, sounds right.

Great, I'll help as best as I can.

[2018-07-19 09:32] komu opened #43 "Support inferring nullability from Kotlin types"

[2018-07-28 19:32] javier-vilares opened #44 "Serialize generic classes"
**Currently**

I have this method:

[code]

https://github.com/spring-projects/spring-data-commons/blob/master/src/main/java/org/springframework/data/domain/Page.java

And apina generates this class:

[code]
CatDTO is not being generated by apina.

**Expected**

CatDTO should be generated.
Page should be a typescript generic class:

[code]

Is it possible to achieve this behaviour?

In any case, t

[2018-08-27 10:29] egaga opened #45 "Generation should fail on nonsensical endpoint definitions"
Consider the following endpoint definition:

[code]

Apina translates this into typescript endpoint service method which fails at runtime.

[2018-08-28 07:13] komu commented on #45
I'd rather not take that route. Although most of the time path-variables are statically resolved to request-parameters, you can access them in another way as well. And sometime one uses dummy path-variables simply for regex-matching purposes:

[code]

But even if this is legal, what's the point if generated client code can't use these?

First of all it's possible that a controller contains some me

[2018-08-28 07:13] #45 closed, assigned to nobody

[2018-09-06 16:11] delsner opened #46 "Build "fat jar" of apina-cli"
I'm not very familiar with the gradle build system and using the `jar` build task of the `apina-cli` didn't work as I get the error message `no main manifest attribute, in apina-cli.jar` when using the created `jar` at `apina-cli/build/libs/apina-cli.jar`.

What is the proper way to build an executable `jar` for the `apina-cli` project to use it in other (maven) projects?
e.g. `java -jar apina-cli

[2018-09-06 16:16] #46 closed, assigned to nobody

[2018-09-06 16:17] delsner commented on #46
Sorry, it was an IDE problem. The command `gradle build` works as expected and there is the `fat jar` in `apina-cli/build/libs/apina-cliXXX-all.jar`.

[2018-11-21 09:49] hakuzumon opened #48 "Support creating dynamic URLs in typescript based on endpoints"
Use case: I need to generate an excel file download URL, that has somewhat complex query parameters (a list of enums).

It would be really nice if I could use Apina's mechanisms to create this URL. Like such:

[code]

And then I could call it from typescript, like so:

[code]

Is this reasonable? If it is, what should be the name for the controller method annotation?

[2019-03-05 04:36] #42 closed, assigned to komu

[2019-03-05 10:50] #41 closed, assigned to komu

[2019-03-21 08:23] komu opened #52 "Support well-known naming strategies"
Support the naming strategies implemented natively by Jackson. If, for example, the class is annotated with `@JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class)`, Apina should know that `fooBar` will be `foo_bar` on the wire.

[2019-08-19 06:15] jvmlet opened #54 "Exclude server side injected parameters for spring mvc controller methods."
Please exclude known server-side injected parameter types from being generated as ts types.
Consider the controller's method with `HttpServletRequest` as parameter :

[code]

The generated `ts` file contains generated `HttpServletRequest` type, together with all it's fields : `Cookie`,`Header`,`HttpSession` etc.

[2019-08-19 18:39] komu commented on #54
Thanks, that's certainly a regression and Apina shouldn't do that. I'll take a look into that.

[2019-08-21 07:00] #54 closed, assigned to komu

[2019-08-21 07:02] komu commented on #54
I just released `0.12.3` which should fix this. Thanks again for the report!

[2019-08-21 07:58] jvmlet commented on #54
I see,  you are modeling only parameters with `REQUEST_BODY`, `REQUEST_PARAM` and `PATH_VARIABLE` annotations.
 Thanks, great tool.

[2019-09-25 06:17] #16 closed, assigned to nobody

[2019-09-25 06:32] komu opened #55 "Support resolving annotations for Kotlin's properties"
When an annotation is directly specified for a property defined in Kotlin constructor, Apina does not find it. For example:

[code]

as a workaround, one can force the annotation for the getter:

[code]

Jackson itself supports the first form, and Apina should do support that as well. It's somewhat unclear where the annotation ends up in the bytecode and how it can be associated with the property,

[2019-11-01 19:08] #44 closed, assigned to nobody

[2019-11-01 19:08] javier-vilares commented on #48
@komu , what about adding a flag in the settings and allow to generate the url for every endpoint?

Benefits:
- No need to add custom annotations

Drawbacks:
- Some unused code generated, it may be more work to the IDE to index (in the prod build tree shaking would take care of it)

I gave it a try here:
https://github.com/javier-vilares/apina/commit/e9028b4c2dafb9ce274c6bf19ec33136bb87a7ed

Maybe

[2020-04-05 18:25] mortterna opened #59 "Use kotlin sealed class to determine subtypes"
By default jackson defines subtypes for discriminated unions using @JsonSubTypes-annotation. Jackson-module-kotlin allows lighter syntax by reading subclasses directly from sealed class using reflection. Same information could be used by apina but it needs to be read from the bytecode instead relying on kotlin-reflection.

https://github.com/FasterXML/jackson-module-kotlin/issues/239

[2020-04-06 05:45] komu commented on #59
Now that I look at this closer, this might be quite easy to do even without access to Kotlin's own metadata. If we have `@JsonTypeInfo` without, `@JsonSubTypes`, we could just search all of the classes in the same package for subclasses. The subclasses of a sealed class need to be in the same file, which means that they will have the same package.

[2020-04-13 12:33] jvmlet opened #60 "Externalized serialization configuration"
Would you please externally expose  the configuration for ignored fields when generating `ts` classes ?
Currently, you are skipping fields/getters annotated with `@JsonIgnore`, which is not always sufficient, think about `@Transient` or any custom or third-party  annotation.
The configuration could be annotation class name  to check on field/getter to decide whether  to include or exclude the fiel

[2020-04-14 05:47] komu commented on #60
Thanks for your input.

I agree, that some solution should be provided, but perhaps we could even avoid extra configuration for this? Let me explain myself a bit (and think this one aloud).

Certainly it would be easiest to just add some list of annotations that would then function like `@JsonIgnore`. Problem is that, different ignore mechanisms have slightly mechanisms with respect to inheritance

[2020-04-14 07:28] jvmlet commented on #60
Thanks for your replay, @komu . To tell the truth ,`java.beans.Transient`  was obvious example, but we are using  `org.springframework.data.annotation.Transient` annotation on our generated pojos fields.
While I think it would be easy for us to add `java.beans.Transient` annotation  together with `org.springframework.data.annotation.Transient`,   people who don't have  control on classes they are

[2020-04-14 08:25] komu commented on #60
I guess Spring Data automatically adds some Jackson-configuration so that `org.springframework.data.annotation.Transient` is automatically ignored?

If there's a small number of well-known annotations, I guess it would be nice if Apina would automatically just work for them. It'd be really weird if someone would have annotated a property with `org.springframework.data.annotation.Transient`, but wo

[2020-04-14 08:41] jvmlet commented on #60
Thanks @komu , it does make sense.

[2020-04-14 08:44] jvmlet commented on #60
BTW, if we are already talking about transients, what about `transient` keyword  in field definition?

[2020-04-14 09:46] komu commented on #60
Right, I aligned Apina's behavior with Jackson with regards to transient fields.

By the way, from the very beginning of Apina I have considered exposing an even more powerful API that might also solve this problem:

After Apina has built the whole model by scanning the classes, but before it starts spitting out TypeScript, it could pass the model to a callback that could make arbitrary modificati

[2020-04-14 09:46] #60 closed, assigned to komu

[2020-04-14 10:22] jvmlet commented on #60
Thanks a lot

[2020-04-14 11:46] jvmlet commented on #60
I think you had typo in version - you released  `1.3.2` instead  `0.13.2`...

[2020-04-14 11:49] komu commented on #60
Right! 😆 Sorry..

[2020-04-14 11:51] jvmlet commented on #60
Also, the annotation on field doesn't  have any effect, only on getter method :-(

[2020-04-14 11:55] komu commented on #60
The annotation should work on a field, but I guess you have a private field with a public getter? In that case, the annotation is indeed not considered. Does Jackson really honor the annotation on a private field even though serialization is done using the getter?

As of this moment, Apina considers private fields completely as implementation details.

[2020-04-14 12:00] komu commented on #60
I published the same bits as `0.13.2` for now as well. But since Gradle plugin portal wants to show the highest version as default, I think I'll have to do a version number jump.

Funny, just yesterday I was considering that I should probably do `1.x` release someday, but this certainly speeds it up a bit unless I can unlist the published version. 😄

[2020-04-14 12:04] jvmlet commented on #60
yes, I have private field with annotation and public getter, I'm almost sure Jackson deals with this properly.

[2020-04-14 12:08] komu commented on #60
Ok, I managed to delete `1.3.2` for now, so you'll need to use`0.13.2`. So if I'll get to releasing `1.x` I will start it normally with. `1.0`. Sorry for the hassle.

As for the mapping logic, I guess I can modify the code to the corresponding field if it's present. It feels a bit dirty, but if it's how Spring Data configures Jackson, so be it.

[2020-04-14 12:17] jvmlet commented on #60
It's not related to Spring Data, actually Spring Data for Elasticsearch dropped json mapping  in favor of  native ES document mapping.
This  is about Jackson feature that allows to have `@JsonIgnore` on private field. I think it would be logical to support same behavior  (different annotations types though ) as Jackson does.

[2020-04-14 12:23] komu commented on #60
Well now you can take `0.13.3` out for a spin. It first tries to look for annotations in public methods, then fallbacks to field if there is a correspondingly named field which has annotations.

[2020-04-14 17:19] jvmlet commented on #60
Nope 😢 ,  I have the field defined like this :

[code]

without getter method, and `0.13.3` still tries to include  `messageBuilder` into `ts` class

[2020-04-14 18:38] komu commented on #60
Hmm, can you provide a minimal, yet complete example of a class that produces invalid results. That seems weird because I have this test class:

https://github.com/EvidentSolutions/apina/blob/9e818471eba017b15355e900be0c7431425bfb39/apina-core/src/test/java/fi/evident/apina/spring/testclasses/ClassWithSpringDataTransient.java#L1-L23

along with this test case which checks that only `foo` is includ

[2020-04-15 05:34] jvmlet commented on #60
I think I know what's happening. In addition to the field annotated with `@Transient`, I also have getter for this field (not annotated) which does not follow bean convention, like `getMessage` that returns `originalMessage` field. So `message` and `originalMessage`are treated as  2 fields, one included, another one excluded. Will be able to confirm this tomorrow. Thanks and sorry for hassling

[2020-04-16 08:54] jvmlet commented on #60
Indeed, that is what happened. Following bean convention is always a good practice 😄
Thanks a lot, @komu

[2020-04-17 11:25] #59 closed, assigned to komu

[2020-04-17 15:22] #35 closed, assigned to nobody

[2020-04-17 15:23] komu commented on #4
Closing as this is possible (and recommended) by the inverse mechanism of specifying include rules that list what endpoints you want to process.

[2020-04-17 15:23] #4 closed, assigned to nobody

[2020-04-17 15:25] #10 closed, assigned to nobody

[2020-04-17 15:35] komu commented on #48
Hi, @javier-vilares, I somehow missed your comment earlier.

The code looks quite ok, but there's at least one problem: if the controller method includes `@RequestBody`-parameters, they should probably be removed from the generated URL-methods, since they make no sense in URL-generation.

Unless using some really aggressive shakers, tree-shaking will not probably remove methods from the endpoint-c

[2020-04-17 22:02] javier-vilares commented on #48
Hi @Komu, I think you are right, the regex solution would be the best given the constraints, having that flexibility would be really nice!

[2020-04-17 22:33] javier-vilares commented on #32
I had this problem since I started using apina. With Spring MVC we can map urls like this:

```GET contests?page=1&size=10&sort=creationDate,desc&tags=tag1,tag2&name=foo```

to a really clean method:
[code]
Probably  lots of crud apps with tables and filters have similar queries. To make it work with apina the best way I found was to use a Post instead of a Get and to do something like this:

[cod

[2020-04-21 15:23] jvmlet opened #61 "Support plain-text responses"
Hello
We have Spring MVC RestEndpoint that returns  `ResponseEntity<String>` :
[code]

When invoking the http request , the `reponseType` option is not passed:

[code]
 and defaults to `json`
[code]
which yields JSON parsing error  :
[code]
While the straight forward work-around is to return `StringWrapper` object  as `json` media-type:

[code]

it would be great to support such case out of the bo

[2020-04-21 17:53] javier-vilares commented on #32
I made it work, making it right to merge in the repo is above my skill level, but I think that it would be helpful for a lot of people to have something like this in the library.

https://github.com/javier-vilares/apina/commit/3b1426c3379afd17de9c90ee0d25d3fd80678263

[2020-04-24 05:18] komu commented on #32
Thanks for your contribution!

The commit above changes the generation of the client side interface, but it doesn't affect the runtime behavior of the client, right? So the calls won't actually do anything, am I correct or am I missing something? Furthermore, isn't the extra parameter wrong?

So if we have something like:

[code]

The code in the commit seems to create a frontend code that would s

[2020-04-24 05:39] komu commented on #61
Right, this seems like a reasonable enhancement. I think supporting just `text/plain` is a good start with obvious implementation, but this could even be enhanced to support other types in the future (probably that would mean that you'd need to register a custom deserializer on the client).

[2020-04-24 13:41] komu commented on #48
@javier-vilares, @hakuzumon

I just pushed the branch https://github.com/EvidentSolutions/apina/compare/master...feat/endpoint-urls which implements this. Care to look at the design and documentation for this? I'll still add some tests before merging, but otherwise I think it could work like that.

[2020-04-24 14:00] javier-vilares commented on #32
You are right, I forgot that to make my approach work I also had to intercept and flatten the request params in the client.

[code]
The flatten method detects if each param is an object with properties, and in that case it flattens it and drops the param name:

So in your example

`requestParams: {bar: 'foo', extraParams: {second:  {third: {x:  1} }
`

get translated to

`requestParams: {bar: 'foo

[2020-04-24 14:06] komu commented on #32
Right, it would be really nice to have the usability of distinct types on the client side as well, but it would entail quite a lot of complexity to support properly. 😦

Well, I'll have to think about this a bit more and perhaps try a spike implementation and see how hard it would be to handle the general case.

[2020-04-24 19:24] javier-vilares commented on #48
It seems perfect :D

I only found two typos in _05-custom-request.adoc
[code]

I also tested it manually in a project and worked as expected.

[2020-04-24 20:35] komu commented on #48
Thanks a lot, fixed the typos.

[2020-04-29 18:40] #48 closed, assigned to nobody

[2020-04-30 05:57] komu commented on #48
I released `0.13.5` which includes this.

[2020-04-30 08:19] hakuzumon commented on #48
Awesome, thanks!

[2020-05-06 09:46] komu commented on #48
Now afterwards I think that I may have made a mistake in that Apina generates both the original method and the URL accessor. Perhaps (by default) Apina should omit the original method if URL accessor is generated. Perhaps I have something like the following:

[code]

Now it's obvious that I don't want Apina to read `PdfData` and create classes from it as if it would ever be converted to JSON. But

[2020-05-06 10:57] hakuzumon commented on #48
When I saw earlier that it now generates both, my initial thought was "what use is there for the original method?" But then I saw you mention "exotic use cases" and thought that maybe there are such. But I can't think of any right now.

[2020-05-06 11:38] javier-vilares commented on #48
I only use it for downloading pictures/files/videos, I don't have any other use case.

However, generating both methods allows me to just put a ".+/" regular expression in the projects where I prefer a little bigger build size than having to mantain a list of paths that may break when changing the method name or the package during a refactor.

I could change the regular expression to generate the

[2020-09-25 09:58] komu opened #62 "Add ApinaModule.forRoot"
Instead of defining providers in `ApinaModule`, Apina should provide a separate `ApinaModule.forRoot` -method that returns `ModuleWithProviders`. This would allow Apina to be used correctly with lazy loading.

[2020-09-25 11:40] komu commented on #62
Actually this is not necessary after all, apps just need to make sure they only import Apina in the root module.

[2020-09-25 11:40] #62 closed, assigned to komu

[2020-11-02 09:51] #38 closed, assigned to nobody

[2020-11-09 09:12] jvmlet commented on #38
Is there release with this fix ? Thanks

[2020-11-10 07:16] komu commented on #38
Thanks for reminding. I just published `0.15.0` which includes this.

[2021-05-03 11:10] komu opened #66 "Publish apina-core to Maven Central"

[2021-05-05 09:29] komu commented on #66
Done, https://repo1.maven.org/maven2/fi/evident/apina/apina-core/

[2021-05-05 09:29] #66 closed, assigned to nobody

[2021-06-15 20:07] alexey-anufriev opened #67 "Maven Plugin"
It would be very nice to have support for Maven. I bet there is a lot of projects that can benefit from having Apina integrated. But since the plugin for maven is missing it is not that trivial to integrate it into the build.

[2021-09-19 11:56] jvmlet opened #68 "Java 17 support"
I'm getting below error when executing with JDK `17` and gradle `7.2`:
[code]

Running with jdk `13` works as expected

[2021-09-20 11:37] komu commented on #68
Which version are you using? Latest `0.17.0`?

[2021-09-20 11:52] komu commented on #68
I tested running `0.16.0` and `0.17.0` with OpenJDK 17 against quite a large codebase without any problems. Anyway, I doubt the problem is the JDK that Apina is running with, but the target JDK of the bytecode that is parsed.

Based on the exception, It seems that for never bytecode [parseMethodSignature](https://github.com/EvidentSolutions/apina/blob/2261111a938a95a097a67e9751849cc42570ac28/apina

[2021-09-20 12:16] jvmlet commented on #68
Yes, `0.17.0`

Btw, with which version of Spring boot did you test `0.17.0` and  jdk `17`? You never know what they do with `bytebuddy`, I'm on `2.4.2`

[2021-09-20 12:17] jvmlet commented on #68
Will try to set the reproducible repo later this week.

[2021-09-20 12:30] komu commented on #68
I tested against Spring Boot 2.5.4, but since most of our codebase is Kotlin, I mostly ended up testing the Kotlin compiler's output, which is probably completely different from JDK 17's javac's output. I'll see if I can find a time to setup a small Java project to test against.

[2021-09-22 08:21] jvmlet commented on #68
@komu , I was able to narrow  down the root cause of the error by debugging the plugin in remote JVM debug :

![image](https://user-images.githubusercontent.com/6664858/134307868-946f896b-1c21-4e8d-873a-ec79d897a159.png)

`com.xxxxx.TestSecurityConfig$2` is the below class, if I remove it, `apina` task completes successfully :

[code]

[2021-09-22 08:31] komu commented on #68
Thanks, I'll try to reproduce based on that.

But I have an immediate workaround that will also make your Apina processor faster. Try specifying setting Apina's `endpoints`-property to a regex that matches only the class names of your controllers:

[code]

There's no harm if the regex matches too much, but it will speed up Apina a lot because it doesn't have to parse all the bytecode in your proje

[2021-09-22 09:16] jvmlet commented on #68
Thanks, I'm actually using

[code]
After changing  it to  `endpoints = [/com\.xxx\.(?!.*TestSecurityConfig).+/]` I got my proxies generated.

[2022-03-22 01:11] alexey-anufriev commented on #68
@komu, from what I see Java 17 `record`s are not supported. Are there any plans?

[2022-03-24 20:14] komu commented on #68
I just pushed https://github.com/EvidentSolutions/apina/pull/71 to support records.

I'm also trying to reproduce this, but I can't reproduce. @jvmlet Any change you could try to simplify the code to make a minimal failing `.java` file without any third party dependencies? And perhaps pass the `.class` file as well?

[2022-03-25 05:35] jvmlet commented on #68
Sorry @komu, but I don't have the access to the environment where I could reproduce the issue anymore

[2022-03-25 06:16] komu commented on #68
Okay, no problem.

Anyway, since Apina should support Java 17 and I've upgraded ASM in the meantime perhaps the issue has gone away. I'll close this issue and trust that someone will open another if the problem persists.

[2022-03-25 06:16] #68 closed, assigned to nobody

[2022-03-25 07:58] jvmlet commented on #68
Thanks @komu. Apina is a great tool that dramatically simplifies rpc. I really enjoyed the simplicity and powerfulnes of  generated client.